

<main id='quacks-main-body'>

  <section id='submission-box'>
    <input type='text' id='quack-content'></textarea>
    <button id='quack-button' value='Quack'>
      Quack!
    </button>
  </section>

  <section id='quacks-feed'></section>

  <template id='quacksTemplate'>
    <section class='oneQuack'>
      <header class='quack-user'>{{user}} says:</header>
      <main class='quack-body'>{{content}}</main>
      <footer class='quack-date'>{{date}}
        <a href='#' class='delete' data-id='{{_id}}'>Delete</a></footer>
    </section>
  </template>

</main>