<!DOCTYPE html>
<html>
  <head>
    <title>Quacker</title>
    <link rel="stylesheet" href="../public/app.css">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Oxygen' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav>
      <h1 class='page-header'>Quacker</h1>
      <h3 class='page-caption'>
        Rubber Duckie, you're the one ♪♫
        You make bath time lots of fun
      </h3>
      <h3 class='sign-in-link'>Log In</h3>
    </nav>
    <main id='background-image'></main>
    <footer id='page-footer'>
      <p>Built during <a href='http://makersacademy.com'>Makers Academy</a> using NodeJS, Express 4, MongoDB, and a sprinkle of jQuery. Source code on <a href='http://github.com/deniseyu/quacker'>github</a>.</p>
    </footer>
    <%- body %>
    <script src='../public/jquery.js'></script>
    <script src='../public/handlebars.js'></script>
    <script src='../public/app.js'></script>
  </body>
</html>