<!DOCTYPE html>
<html>
  <head>
    <title>Quacker</title>
    <link rel="stylesheet" href="../public/app.css">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Oxygen' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%- body %>
    <script src='../public/jquery.js'></script>
    <script src='../public/handlebars.js'></script>
    <script src='../public/app.js'></script>
  </body>
</html>