body {
  color: #2CAAFF;
  font-family: 'Oxygen', sans-serif;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url('../public/rubber-duckies.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 0.7;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 3.5em;
  text-align: center;
}

h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 1.3em;
  text-align: center;
  padding: 0;
  margin: 0;
}

#submission-box {
  width: 450px;
  margin: auto;
  padding: 20px;
}

#quack-content {
  font-family: 'Fredoka One', cursive;
  font-size: 1.2em;
  height: 30px;
  width: 335px;
  padding: 5px;
}

#quack-button {
  font-family: 'Fredoka One', cursive;
  font-size: 1.5em;
  color: white;
  border: 0px;
  margin: 2px;
  height: 40px;
  background-color: #83C3E5;
}

.oneQuack {
  width: 600px;
  height: 100px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #FEFFA7;
}

.quack-user {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.quack-body {
  padding: 5px;
  font-size: 1em;
  margin-bottom: 10px;
}

.quack-date {
  margin-top: 10px;
  text-align: right;
  font-size: 0.8em;
}